<div class="headline"><h1>Explore Yelper</h1></div>
<hr>
<div class="tagline">
  <h5>This project is my most recent. I am continuously building on it so this isn't the final product. It’s a restaurant review aggregator being built using Rails 4, Foundation 5, Compass, OOCSS/SASS, AWS S3, and Postgres. Here is the <a href="https://github.com/JasonRodriguez1/yelper.">Source Code.</a>
  </h5>
</div>

