%uppercase {
  text-transform: uppercase;
}
%no-bold {
  font-weight: normal;
}

%font-stack-ultra {
  font-family: "din-ultra", Helvetica, Arial, sans-serif;
}
%font-stack-reg {
  font-family: "din-regular", Verdana, sans-serif;
}
%font-stack-rounded-reg {
  font-family: "din-rounded-reg", Verdana, sans-serif;
}
%font-stack-rounded-med {
  font-family: "din-rounded-med", Verdana, sans-serif;
}
