// Author: Jason Rodriguez
/*** Footer Layout styles ***/
.footer {
  clear: both;
  font-family: "raleway";
  font-weight: bold;
}
.footer-img img {
  margin-top: 50px;
}
/*** Start Footer Layout block styles ***/
