// Author: Jason Rodriguez
/*** Custom Yelper styles ***/
#banner  {
  @extend %teal-diamond-pattern;
  @extend %border-radius-10px;
  @extend %border-1-solid-grey ;
  @extend %margin-top-10;
  @extend %top-0;
  @extend %left-0;
  @extend %right-0;
  @extend %bottom-0;
  @extend %width-50-percent;
  @extend %padding-10;
  @extend %position-relative;
  @extend %overflow-hidden;
  @extend %width-100-percent;
  @extend %box-shadow-inset;
  h2 {
    @extend %font-weight-bold;
    @extend %banner-text-color;
    @extend %text-align-center;
  }
  h3 {
    @extend %color-black;
    @extend %position-relative;
    @extend %text-align-center;
    @extend %border-radius-10px;
  }
}
.headline {
  h1 {
    color: black;
    @extend %text-shadow-teal;
  }
  text-align: center;
}
.text-wrap {
  @extend %background-opacity-white;
  overflow-wrap: break-word;
  word-wrap: break-word; /* Firefox support */
}
.homepage-img {
  margin-right: 12px;
  img {
    border-radius: 10px;
  }
}
.restaurant-details, .restuarant-edit {
  list-style-type: none;
}
.restaurant-edit li {
  display: inline;
  margin-right: 3px;
}
.sidebar-content {
  li {
    list-style-type: none;
  }
  p img {
    margin-top: 30px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-8-sidebar {
    width: 100%;
  }
  .large-4-sidebar {
    width: 100%;
  }
}
@media only screen and (min-width: 90em) {
  .large-8-sidebar {
    width: 66.66667%;
  }
  .large-4-sidebar {
    width: 33.33333%;
  }
}
.listing-show {
  a {
    padding: 5px;
  }
}
.instruction {
   h4 {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 5px;
  }
}
