////////////////////////////////////////////////////////////////////////////////
// "vars" partial
// --------------------
//
////////////////////////////////////////////////////////////////////////////////

//
// Variables
////////////////////////////////////////

//
// Colors
//
$white: #ffffff;
$black: #000000;
$off-white: #f1f6f9;
$light-grey: #a9a9a9;
$grey: #83838f;
$mid-grey: #565656;
$detail-grey: #686868;
$dark-grey: #353535;
$shadow-black: #83838f;
$orange: #f17253;
$outline-orange:#FF9002;
$banner-orange: #ff7000;
$aqua: #00b5eb;
$teal: #3dcc9e;
$zebra-stripe-odd-bg-color: $white;
$zebra-stripe-odd-text-color: $mid-grey;
$zebra-stripe-even-bg-color: $off-white;
$zebra-stripe-even-text-color: $mid-grey;
$zebra-stripe-mid-tone-odd-bg-color: #f2f9f2;
$zebra-stripe-mid-tone-odd-text-color: #60655f;
$zebra-stripe-mid-tone-even-bg-color: #e4e9e5;
$zebra-stripe-mid-tone-even-text-color: #60655f;
$zebra-stripe-mid-tone-exception-bg-color: #6c6c6c;
$zebra-stripe-mid-tone-exception-text-color: $white;
$desktop-page-width: 1200px;
$desktop-content-width: 1015px;
$desktop-header-nav-height: 70px;

//
// Mobile
//
$mobile-page-width: 320px;
$mobile-content-width: 280px;
$mobile-top-bar-height: 45px;
$mobile-menu-button-offset: 50px;

