<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>
  <div class="instruction">
    <h4>&#65516; Now, hover over the stars and click the desired rating. Then write your review and submit it. &#65516;</h4>
  </div>
  <div class="form-inputs">
    <div id="star-rating"></div>
    <%= f.input :comment %>
  </div>
<br>
  <div class="form-actions review-create">
    <%= f.button :submit, :class => "tiny round button" %>
  </div>
<% end %>
<script>
    $('#star-rating').raty({
      path: 'https://s3-us-west-2.amazonaws.com/yelper/stars',
      scoreName: 'review[rating]'
  });
</script>
