
<div id="banner">
  <div class="text-wrap">
    <h2>Yelper is the demo app to help you find reviews on local restaurants.</h2>
    <h3>Explore the favorite cafes,  bakeries, and restaurants in your community.
    <br>Leave reviews and ratings for your fellow foodies.</h3>
  </div>
</div>
